# Arquivos e diretórios gerados pelo Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.venv/
env/
venv/
build/
dist/

# Arquivos de IDEs e Ferramentas Comuns
.idea/
.vscode/
*.sublime-workspace
*.swp

# Arquivos gerados pelo Robot Framework
*.log
*.html
*.xml
output/
test_results/
log/

# Arquivos de dados temporários e caches
*.db
.cache/